body{background-color:#64737a;
     font-family: 'Ubuntu', sans-serif;
     padding: 25px} 
a{text-decoration:none;}
body::before{content:"\00A9 sahila";
             color:white;opacity:.3;
             font-size:10px;
             position:absolute;
             bottom:25px;
             left:calc(52vw - 30px);}


